stages:
  - deploy

deploy:
  stage: deploy
  script:
    - |
      if [ ! -d "/home/gitlab-runner/ankiweb/.git" ]; then
        git clone https://gitlab.j551n.com/j551n/n-docs.git /home/gitlab-runner/n-docs
      else
        cd /home/gitlab-runner/n-docs && git pull origin main
      fi
    - cd /home/gitlab-runner/n-docs
    - docker compose stop n-docs || true  # Stop the service if running
    - docker compose up --build -d
  only:
    - main
    - shared