stages:
  - deploy

deploy:
  stage: deploy
  script:
    - |
      if [ ! -d "/home/gitlab-runner/n-docs/.git" ]; then
        git clone https://gitlab.j551n.com/j551n/n-docs.git /home/gitlab-runner/n-docs
      else
        cd /home/gitlab-runner/n-docs
        git fetch origin
        git reset --hard origin/main
      fi
    - cd /home/gitlab-runner/n-docs
    - docker compose stop n-docs || true
    - docker compose up --build -d
  only:
    - main
    - shared
